/*Here is where you style everything!
Reference your projects from the summer
If you don't have a summer project, let me know!*/

html {
    background 
    :linear-gradient(to bottom, #000099 0%, #ff99cc 100%);
    height: 100%
}

body{
    background: transparent
}
